body {
    background-image: url("visits-m.jpg");
    background-size: cover;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    background: rgb(248, 233, 207);
    max-width: 60%;
    margin: auto;
    border: 3px solid burlywood;
    border-radius: 10px;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;

}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(86, 150, 150);
}

#save-btn {
    background: rgb(201, 217, 81);
}

#save-el {
    font-weight: bold;
}

@media (max-width: 640px) {

    * {
        box-sizing: border-box;
    }

    /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

    body {
        width: auto;
        margin: 0;
        padding: 0;
    }

    /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

    img {
        max-width: 100%;
    }

    /* conserver le ratio des images */

    img {
        height: auto;
    }

    /* masquer/afficher les éléments  */

    .button {
        display: block;
        display: revert !important;
        /* affichage des éléments */
    }

}